/** {
  font-weight: normal;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
  font-size: 10px;
}*/

h1{
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 44px;
  letter-spacing: 4px
}

h2{
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 27px;
}

span{
  font-weight: bold;
}
body {
  background-color: #80d68b;
}

img {
  margin:auto;
  max-width: 200px;
  display: inline-block;
}
.imagebox {
  text-align: center;
}
